<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>


<div class="courses" #container>
  <!-- slice only shows  number you want show  -->
  <course-card #cardRef1
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[0]"
  ></course-card>

    <!-- slice only shows  number you want to show  -->
    <!-- <course-card #cardRef2
      (courseSelected)="onCourseSelected($event)"
      [course]="courses[1]"
    ></course-card> -->
  </div>

<!-- <course-card *ngFor = "let course of courses; index as i; first as isFirst; last as isLast;
even as isEven; odd as isOdd"
[class.is-first]="isFirst"
[class.is-last]="isLast"
[class.is-even]="isEven"
[class.is-odd]="isOdd"
[course] = "course"
(courseSelected) ="onCourseSelected($event)"         
[cardIndex]="i +1"
></course-card> -->


<!-- <div class="demo">
    <b>Start Date: </b>{{ startDate | date: "MMMM dd, yyyy" }}
    <p>{{ title | titlecase }}</p>
    <p>Price: {{ price | currency: "$" }}</p>
    <p>Interest Rate: {{ rate | percent }}</p>
  
    <!-- {{ courses | json }} -->
    <!-- <div *ngFor = "let pair of course | keyvalue">
              {{pair.key + ': ' + pair.value}}
    </div> -->
  
  <!-- </div> --> 

  <!-- before view child decorator
      <course-card
  *ngFor="let course of courses | slice: 0:5; index as i"
  [course]="course"
  (courseSelected)="onCourseSelected($event)"
  [cardIndex]="i + 1"
></course-card> -->